<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Team" alias="Team"/>
        <typeAlias type="lt.vu.mybatis.model.Player" alias="Player"/>
        <!--<typeAlias type="lt.vu.mybatis.model.Game" alias="Game"/>
        <typeAlias type="lt.vu.mybatis.model.Language" alias="Language"/>
        <typeAlias type="lt.vu.mybatis.model.Rating" alias="Rating"/>-->
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PlayersDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/TeamMapper.xml"/>
        <mapper resource="mybatis.xml/PlayerMapper.xml"/>
        <!--<mapper resource="mybatis.xml/GameMapper.xml"/>
        <mapper resource="mybatis.xml/RatingMapper.xml"/>
        <mapper resource="mybatis.xml/LanguageMapper.xml"/>-->
    </mappers>
</configuration>
